@use 'variables' as var;
@use 'seges-colors' as color;

div.actions {
  display: flex;
  align-items: center;
  button {
    .mat-icon {
      color: color.$color-gray; 
    }
    &.editing {
      .mat-icon {
        color: color.$color-blue;
      }
    }
    &:last-child {
      margin: var.$sm;
    }
  }
}

.tablet-n-up {
  display: none;
  @media screen and (min-width: var.$tablet-width) {
    display: block;
  }
}
